
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: auto;
  padding: 0;
  font-family: "Circular", sans-serif;
  color: #383838;
  width: 1124px;
}
header{
  border-bottom:1px solid #e0e0e0;
  box-shadow: 0 0 30px #e0e0e0;
}
img{
max-width: 100%;
}
footer{
    background-color: #262626;
  }
.container {
  max-width: 976px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 8px;
  margin-right: 8px;
}
.col-1 {
  flex-basis: 8.3333%;
}
.col-2 {
  flex-basis: 16.6667%;
}
.col-3 {
  flex-basis: 24.9999%;
}
.col-4 {
  flex-basis: 33.3332%;
}
.col-5 {
  flex-basis: 41.6665%;
}
.col-6 {
  flex-basis: 49.9998%;
}
.col-7 {
  flex-basis: 58.3331%;
}
.col-8 {
  flex-basis: 66.6664%;
}
.col-9 {
  flex-basis: 74.9997%;
}
.col-10 {
  flex-basis: 83.333%;
}
.col-11 {
  flex-basis: 91.666%;
}
.col-12 {
  flex-basis: 100%;
}
.wrapper {
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
padding-top: 20px;
padding-bottom: 20px;
}
.logosearch {
display: flex;
justify-content:space-between;
}
.asap{
  display: flex;
  align-items: center;
  border: 1px solid #E0E0E0;
  height: 43px;
  margin-left: 100px;
  background-color: #fff;
  padding: 7px 7px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  font-size: 13px;
}
.location{
  display: flex;
  align-items: center;
  border: 1px solid #E0E0E0;
  height: 40px;
  margin-left: 2px;
  padding-left: 10px;
  padding-right: 10px;
}
.to{
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
.adress {
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  color: #000;
  background-image: url("./Images/location.svg");
  background-repeat: no-repeat;
  background-position: 8px;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 0px;
}
.sign{
  display: flex;
  align-items: center;
  height: 43px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 13px;
  padding-left: 24px;
  padding-right: 24px;
}
.register{
  display: flex;
  align-items: center;
  height: 43px;
  background-color: rgb(0, 0, 0);
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 13px;
  color:#e0e0e0;
  margin-left: 10px;
  padding-left: 24px;
  padding-right: 24px;
  margin-right: 10px;
}
.registration{
  display: flex;
  align-items: center;
  flex-direction:row;
  margin-right: 5px;
}
.search {
  height: 48px;
  border-bottom: 0 0 0 0 solid #e0e0e0;;
  border-top:0px;
  border-left:0px;
  border-right:0px;
  color: #000;
  background-image: url("./Images/search.svg");
  background-repeat: no-repeat;
  background-position: 0px;
  padding-left: 34px;
  padding-top: 0px;
  width: 99%;
}
@media (min-width: 1200px) {
  .up {
    bottom: 24px;
    right: -70px;
  }
}
.footer {
  color: #ffffff;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  align-items: center;
  width: auto;
  background-color: #262626;
}
@media (min-width: 1200px) {
  .footer {
    
  }
}
.font1{
  font-family: Roboto;
  font-size: 16px;
  color: #1D1D1D;
  font-style: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.font2{
  font-family: Roboto;
  font-size: 16px;
  color: #1D1D1D;
  font-style: normal;
}
.font3{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  font-size: 14px;
  color: #626262;
}
.font4{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  font-size: 13px;
  color: #1D1D1D;
}
.selection {
  width: 178px;
  border: 0px;
  border-radius: 2px;
  background-color: #3b3b3b;
  padding: 7px 18px 7px 32px;
  color: #ffffff;
  font-size: 13px;
  background-image: url("./Images/world.svg");
  background-position: 16px;
  background-repeat: no-repeat;
  
}
.soÑial > a {
  text-decoration: none;
}
.uberinfo > a {
  margin-bottom: 24px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
}
.stores {
  padding: 45px 0 40px 0;
  margin: 0px 0 24px 0;
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #979797;
  border-top: 1px solid #979797;
}
.gplay,
.appstore {
  cursor: pointer;
  margin: 0 16px 0 16px;
}
.copyright {
  margin: 16px 0 16px 0;
  width: 100%;
  display: inline-grid;
  justify-content: space-between;
  align-items: center;
}
.copyright > * {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  margin-top: 16px;
}
@media (min-width: 576px) {
  .copyright {
    display: flex;
  }
}
.upbutt {
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-color: #59bd5a;
  position: absolute;
  bottom: -780px;
  right: 141px;
}
.logofooter{
width: 100%;
  border-bottom: 1px solid #979797;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom:50px;
}
.card{
  margin-bottom: 50px;
}